# SPDX-License-Identifier: GPL-2.0

.*
*.ko
*.mod
*.mod.c
*.o
*.rmeta
Module.symvers
modules.order
rust-project.json


# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
